.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }
  
  .grid-item2 {
    padding: 20px; /* Espacio interno para cada ítem */
    text-align: center; /* Alineación del texto */
  }
  