.grid-container {
    display: grid;
    grid-template-rows: repeat(13, 1fr); /* 13 filas de igual tamaño */
    grid-template-columns: 1fr 1fr; /* 2 columnas de igual tamaño */
    gap: 10px; /* Espacio entre las filas y columnas */
    padding: 10px; /* Relleno alrededor de la cuadrícula */
}

.grid-item {
    padding: 20px; /* Relleno dentro de cada elemento */
    text-align: center; /* Centrar el texto dentro de cada elemento */
}
